.left {
  float: left;
  width: 200px;
  border: 2px solid green;
  padding: 10px;
  background-color: orange;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  z-index: 1;
}

.layer-bottom {
  margin: auto;
  width: 100%;
  z-index: -1;
}

.leftimage {
  margin: auto;
  width: 150px;
  padding: 10px;
}

.my-class {
  border: 2px solid green;
  padding: 10px;
  background-color: orange;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  box-sizing: border-box;
}

.centered-image {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 25%;
  width: 50%;
  height: auto;
  display: block;
}

.left-image {
  margin: auto;
  width: auto; 
}

h1 {
  margin: auto;
  margin-top: 25px;
  font-family: sans-serif;
  width: 50%;
  font-style: bold;
}

h3 {
  font-family: sans-serif;
  margin: auto;
  width: 50%;
}

h3.left {
  width: 175px;
  text-align: center;
  border: none;
}

.background {
  background: url(fur.jpg) center center cover no-repeat fixed;
}
  /*position:absolute;
  /*width: 100%;

}

/* .left { 

  position: absolute; - stays in the position defined on the page (scroll away from it possible)
  position: fixed; - Stays in the same position defined even when scrolling (side bar, or a nav bar)
  margin-left: 50px;

  z-index: <some number> the higher the number the more ontop the element will be, and the lower will make it beneath other elements. 
  
  z-index: 0 
 
 img { z-index: -1} 
 abovetext { z-index: 1}

  float: ___----_________________________

  red and blue box slightly transparent
  red box float left

  blue box appears over/under it, purple section




 } */