.left {
  float: left;
  width 200px;
  border: 2px solid green;
  padding: 10px;
  background-color: orange;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.my-class {
  border: 2px solid green;
  padding: 10px;
  background-color: orange;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  box-sizing: border-box;
}

.centered-image {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  height: auto;
  display: block;
}

.left-image {
  margin: auto;
  width: 
}

h1 {
  margin: auto;
  margin-top: 25px;
  font-family: sans-serif;
  width: 50%;
  font-style: bold;
}

h3 {
  font-family: sans-serif;
  margin: auto;
  width: 50%;
}

h3.left {
  width: 175px;
  text-align: center;
  border: none;
}